<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!-- <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder> <pattern>%d{HH:mm:ss.SSS} %level [%thread] [%C{0}] %msg%n</pattern> 
		</encoder> </appender> <logger name="root" level="debug"> <appender-ref ref="console" 
		/> </logger> -->
	<appender name="appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.root}/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.root}/app-%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %5level %20.20thread  %class{5} - %msg%n%rEx{10}</pattern>
		</encoder>
	</appender>

	<logger name="log" level="info">
		<appender-ref ref="appender" />
	</logger>

</configuration>